html {
    --purple: hsl(242, 48%, 58%);
    --light-purple: hsl(243, 100%, 82%);
    --dark-blue: hsl(237, 100%, 4%);
    --deep-blue: hsl(235, 16%, 15%);
    --navy: hsl(235, 12%, 19%);
    --slate: hsl(236, 11%, 27%);
    --gray: hsl(216, 15%, 57%);
    --light-gray: hsl(221, 69%, 94%);
    --lightest-blue: hsl(220, 69%, 97%);
    --light-lavender: hsl(240, 45%, 96%);
    --soft-lavender: hsl(242, 48%, 89%);
    --shadow: rgba(54, 78, 126, 0.101545);
    --red: hsl(0, 78%, 63%);
    --light-red: hsl(0, 100%, 80%);
    --blue: #49C4E5;
    --green: #67E2AE;
    --input-border: hsla(216, 15%, 57%, 25%);
}

.title {
    font-weight: 700;
}
.title--xl {
    font-size: 24px;
}
.title--l {
    font-size: 18px;
}
.title--m {
    font-size: 15px;
}
.title--s {
    font-size: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: var(--gray);
}

.text--l {
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    color: var(--gray);
}
.text--m {
    font-size: 12px;
    font-weight: 700;
}

.btn {
    padding-inline: 24px;
    
    transition-property: color, background-color;
    transition-duration: .2s;
}
.btn--large {
    height: 48px;
    font-size: 15px;
    border-radius: 24px;
}
.btn--small {
    height: 40px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 20px;
}
.btn--primary {
    background-color: var(--purple);
    color: white;
}
.btn--primary:hover {
    background-color: var(--light-purple);
}
.btn--secondary {
    background-color: var(--light-lavender);
    color: var(--purple);
}
.btn--secondary:hover {
    background-color: var(--soft-lavender);
}
[data-is-dark] :is(.btn--secondary, btn--secondary:hover) {
    background-color: white;
}
.btn--destructive {
    color: white;
    background-color: var(--red);
}
.btn--destructive:hover {
    background-color: var(--light-red);
}

.dropdown {
    position: relative;
    color: var(--gray);
}

.dropdown__toggle {
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;

    transition: background-color .2s;
}
.dropdown__toggle:hover,
.dropdown__toggle[aria-expanded] {
    background-color: var(--lightest-blue);
}
.menu-icon {
    width: 5px;
    height: 20px;
}

.dropdown__menu {
    position: absolute;
    right: 0;
    top: 64px;
    width: 192px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(54, 78, 126, 0.25);
    z-index: 1;
    
    animation-name: fade-in, slide-down;
    animation-duration: .2s;
}

.dropdown__item--danger {
    color: var(--red);
}

.dropdown__btn {
    width: 100%;
    height: 40px;
    padding-inline: 16px;
}
.dropdown__btn:hover {
    background-color: var(--lightest-blue);
}
.dropdown__item:first-of-type .dropdown__btn {
    border-radius: 8px 8px 0 0;
}
.dropdown__item:last-of-type .dropdown__btn {
    border-radius: 0 0 8px 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (hover: hover) and (pointer: fine) {
    ::-webkit-scrollbar {
        width: 14px;
        height: 14px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--gray);
        border-radius: 8px;
        border: 4px transparent solid;
        background-clip: padding-box;
    }
    ::-webkit-scrollbar-corner {
        background-color: inherit;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes scale {
    from {
        scale: 0.95;
    }

    to {
        scale: 1;
    }
}
@keyframes slide-down {
    from {
        translate: 0 -5px;
    }

    to {
        translate: 0;
    }
}