body, h1, h2, h3, h4, h5, p, ul, menu, li {
    all: unset;
    display: block;
}

button {
    padding: 0;
    border: 0;
    background: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-transform: inherit;
    text-align: left;
    font-weight: inherit;
    cursor: pointer;
}

dialog {
    padding: unset;
    border: unset;
    background: unset;
    overflow: visible;
    cursor: initial;
}

html {
    --purple: hsl(242, 48%, 58%);
    --light-purple: hsl(243, 100%, 82%);
    --dark-blue: hsl(237, 100%, 4%);
    --deep-blue: hsl(235, 16%, 15%);
    --navy: hsl(235, 12%, 19%);
    --slate: hsl(236, 11%, 27%);
    --gray: hsl(216, 15%, 57%);
    --light-gray: hsl(221, 69%, 94%);
    --lightest-blue: hsl(220, 69%, 97%);
    --light-lavender: hsl(240, 45%, 96%);
    --soft-lavender: hsl(242, 48%, 89%);
    --shadow: rgba(54, 78, 126, 0.101545);
    --red: hsl(0, 78%, 63%);
    --light-red: hsl(0, 100%, 80%);
    --blue: #49C4E5;
    --green: #67E2AE;
    --input-border: hsla(216, 15%, 57%, 25%);

    height: 100%;
}

body {
    height: 100%;
    font-family: 'PlusJakartaSans';
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 8px;
    border: 4px transparent solid;
    background-clip: padding-box;
}
::-webkit-scrollbar-corner {
    background-color: inherit;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes scale {
    from {
        scale: 0.95;
    }

    to {
        scale: 1;
    }
}
@keyframes slide-down {
    from {
        translate: 0 -5px;
    }

    to {
        translate: 0;
    }
}