body, h1, h2, h3, h4, p, ul, menu, li {
    all: unset;
}

dialog {
    padding: unset;
}

.app:not([data-is-dark]) {
    color-scheme: light;
}
.app[data-is-dark] {
    color-scheme: dark;
}

.board__content {
    display: flex;
    gap: 20px;
}

.dropdown-btn:not([aria-expanded]) + .dropdown-menu {
    display: none;
}

.column {
    display: block;
    width: 200px;
}

.task {
    display: block;
    margin-bottom: 10px;
    border: 1px solid red;
    cursor: pointer;
}

.subtask,
.subtask :is(input, label) {
    cursor: pointer;
}

.subtask input:checked + label {
    text-decoration: line-through;
}