.app {
    position: relative;
    width: 100%;
    height: 100%;
    
    --header-height: 97px;
    --sidebar-transition: .4s;
    --theme-transition: .4s;
}
.app:not([data-is-dark]) {
    color-scheme: light;
}
.app[data-is-dark] {
    color-scheme: dark;
}
.app[data-grabbing] * {
    cursor: grabbing;
}
@media (min-width: 1024px) {
    .app {
        --header-width: 300px;
        --sidebar-width: 300px;
        --sidebar-item-width: 276px;
    }

    .app[data-sidebar-closed] {
        --header-width: 210px;
    }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
    .app {
        --header-width: 260px;
        --sidebar-width: 260px;
        --sidebar-item-width: 240px;
    }
    .app[data-sidebar-closed] {
        --header-width: 200px;
    }
}
@media (max-width: 767.98px) {
    .app {
        --header-height: 64px;
        --header-width: 56px;
    }
}

.app__header {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    width: var(--header-width);
    height: var(--header-height);
    border-right: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
    background-color: white;

    transition:
        width var(--sidebar-transition),
        background-color var(--theme-transition),
        border-color var(--theme-transition);
}
.app[data-is-dark] .app__header {
    background-color: var(--navy);
    border-color: var(--slate);
}
@media (max-width: 767.98px) {
    .app__header {
        width: unset;
        padding-inline: 16px;
    }
}

.kanban-logo {
    position: relative;
    z-index: 2;

    transition: translate var(--sidebar-transition), color var(--theme-transition);
}
.app[data-is-dark] .kanban-logo {
    color: white;
}
@media (min-width: 768px) {
    .app[data-sidebar-closed] .kanban-logo {
        translate: -10px;
    }
}
@media (min-width: 768px) {
    .kanban-logo {
        margin-left: 34px;
    }
}

.app__content {
    display: flex;
    height: 100%;
}
.logo {
    width: 24px;
    height: 25px;
}
@media (min-width: 768px) {
    .logo {
        margin-right: 16px;
    }
}

.kanban-text {
    font-size: 32px;
    font-weight: 800;
}
@media (max-width: 767.98px) {
    .kanban-text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }
}

.sidebar {
    position: relative;
    min-width: var(--sidebar-width);
    margin-top: calc(var(--header-height) - 1px);
    z-index: 1;
    
    transition: min-width var(--sidebar-transition);
}
@media (min-width: 768px) {
    .sidebar[aria-hidden] {
        min-width: 0;
    }
}
@media (max-width: 767.98px) {
    .sidebar {
        position: absolute;
        inset: 0;
    }
    .sidebar[aria-hidden] {
        pointer-events: none;
    }
    .sidebar:before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: black;
        opacity: 0;
        
        transition: opacity var(--sidebar-transition);
    }
    .sidebar:not([aria-hidden]):before {
        opacity: 0.5;
    }
}

.sidebar__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: var(--sidebar-width);
    height: 100%;
    padding-bottom: 32px;
    border-right: 1px solid var(--light-gray);
    background-color: white;
    box-sizing: border-box;

    transition: 
        opacity var(--sidebar-transition),
        translate var(--sidebar-transition),
        background-color var(--theme-transition),
        border-color var(--theme-transition);
}
.app[data-is-dark] .sidebar__wrapper {
    background-color: var(--navy);
    border-color: var(--slate);
}
@media (max-width: 767.98px) {
    .sidebar__wrapper {
        position: absolute;
        inset: 0;
        width: clamp(264px, calc(100% - 100px), 500px);
        height: fit-content;
        max-height: calc(100% - 66px);
        margin-top: 16px;
        margin-inline: auto;
        padding-bottom: 16px;
        border: unset;
        border-radius: 8px;
    }
    .sidebar[aria-hidden] .sidebar__wrapper {
        opacity: 0;
        translate: 0 -10px;
    }
}

.sidebar__title {
    margin: 15px 0 0 32px;
}

.sidebar__boards {
    flex-grow: 1;
    margin-block: 20px;
    overflow: auto;
}
@media (max-width: 767.98px) {
    .sidebar__boards {
        padding-right: 24px;
    }
}

.sidebar__board,
.sidebar__new-board-btn,
.sidebar__hide-btn {
    display: flex;
    align-items: center;
    width: var(--sidebar-item-width);
    border-radius: 0 24px 24px 0;
    color: var(--gray);
    box-sizing: border-box;
    overflow-wrap: anywhere;

    transition: background-color .2s;
}
.sidebar__board button,
.sidebar__new-board-btn,
.sidebar__hide-btn {
    padding: 16px 16px 16px 0;
}

.sidebar__board:hover,
.sidebar__new-board-btn:hover,
.sidebar__hide-btn:hover {
    background-color: var(--light-gray);
}
.app[data-is-dark] :where(
    .sidebar__board:hover,
    .sidebar__new-board-btn:hover,
    .sidebar__hide-btn:hover
) {
    background-color: white;
}
.sidebar__board[aria-current] {
    background-color: var(--purple);
    color: white;
}
.sidebar__board button {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: inherit;
    padding-left: 32px;
}

.sidebar__new-board-btn {
    padding-left: 32px;
    color: var(--purple);
}
@media (max-width: 767.98px) {
    .sidebar__new-board-btn {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .sidebar__hide-btn {
        display: none;
    }
}

@media (max-width: 1023.98px) {
    .sidebar__title {
        margin-left: 24px;
    }

    .sidebar__board button,
    .sidebar__new-board-btn {
        padding-left: 24px;
    }
}

.board-icon {
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin-right: 16px;
}

.sidebar__theme-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    margin-inline: 24px;
    background-color: var(--lightest-blue);
    border-radius: 6px;
    color: var(--gray);

    transition: background-color var(--theme-transition);
}
.app[data-is-dark] .sidebar__theme-btn {
    background-color: var(--deep-blue);
}
.light-icon {
    height: 19px;
    width: 19px;
    margin-right: 24px;
}
.dark-icon {
    width: 16px;
    height: 16px;
    margin-left: 24px;
}

@media (min-width: 768px) {
    .board--empty .sidebar__theme-btn {
        display: none;
    }
}
@media (max-width: 767.98px) {
    .sidebar__theme-btn {
        margin-inline: 16px;
    }

    .board--empty .sidebar__theme-btn {
        position: absolute;
        inset: auto 0 16px 0;
    }
}

.theme-btn__toggler {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: var(--purple);
    border-radius: 12px;
    transition: background-color var(--theme-transition);
}
.theme-btn__toggler:before {
    content: '';
    left: 3px;
    top: 3px;
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    
    transition: translate .4s;
}
.sidebar__theme-btn:hover .theme-btn__toggler {
    background-color: var(--light-purple);
}
.sidebar__theme-btn[aria-pressed] .theme-btn__toggler:before {
    translate: 20px;
}

.sidebar__hide-btn {
    padding-left: 24px;
    margin-top: 8px;
    color: var(--gray);
}
.hide-icon {
    width: 18px;
    height: 16px;
    margin-right: 15px;
}

.show-sidebar-btn {
    position: absolute;
    bottom: 32px;
    width: 56px;
    height: 48px;
    background-color: var(--purple);
    border-radius: 0 24px 24px 0;

    transition: background-color .2s, opacity var(--sidebar-transition);
}
.show-sidebar-btn:hover {
    background-color: var(--light-purple);
}
.app:not([data-sidebar-closed]) .show-sidebar-btn {
    opacity: 0;
}
.show-icon {
    width: 16px;
    height: 11px;
    margin-left: 18px;
    color: white;
}
@media (max-width: 767.98px) {
    .show-sidebar-btn {
        display: none;
    }
}