.board {
    flex-grow: 1;
    overflow: hidden;
}
.board--empty {
    position: relative;
}

.board__new {
    position: absolute;
    inset: 0;
    height: fit-content;
    max-width: calc(100% - 40px);
    margin: auto;
    text-align: center;
}
.board__new p {
    margin-bottom: 32px;
    color: var(--gray);
}

.board__header {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    width: calc(100% - var(--header-width));
    display: flex;
    align-items: center;
    min-height: var(--header-height);
    padding-inline: 24px 12px;
    border-bottom: 1px solid var(--light-gray);
    background-color: white;
}
@media (min-width: 768px) {
    .board__header {
        transition: width var(--sidebar-transition);
    }
}
@media (max-width: 767.98px) {
    .board__header {
        padding-inline: unset;
    }
}

@media (min-width: 768px) {
    .board__title-btn {
        user-select: text;
        cursor: text;
    }
}
@media (max-width: 767.98px) {
    .board__title-btn {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 8px;
        height: var(--header-height);
    }
}

@media (max-width: 767.98px) {
    .board__title {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .board__header .chevron-icon {
        display: none;
    }
}
.chevron-icon {
    width: 11px;
    height: 8px;
    color: var(--purple);
}

.new-task-btn {
    margin-left: auto;
    margin-right: 12px;
}
.new-task-btn:before {
    content: '+'
}
@media (max-width: 767.98px) {
    .new-task-btn {
        width: 48px;
        height: 32px;
        font-size: 0;
        text-align: center;
        padding: unset;
        margin-right: 0;
    }
    .new-task-btn:before {
        position: relative;
        top: -3px;
        font-size: 24px;
    }
}

.board__content {
    position: relative;
    height: calc(100% - var(--header-height));
    margin-top: var(--header-height);
    overflow: auto;
    user-select: none;
}
:not([data-is-dark]) .board__content {
    background-color: var(--lightest-blue);
}
[data-is-dark] .board__content {
    background-color: var(--deep-blue);
}
@media (max-width: 767.98px) {
    .app[data-altmenu-open] .board__content {
        pointer-events: none;
    }
    
    .board__content:after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: black;
        opacity: 0;
        pointer-events: none;
        
        transition: opacity var(--sidebar-transition);
    }

    .app[data-altmenu-open] .board__content:after {
        opacity: 0.5;
        pointer-events: all;
    }
}

.board__columns {
    display: flex;
    gap: 24px;
    width: fit-content;
    padding: 0 24px 24px;
}