.board {
    flex-grow: 1;
    overflow: hidden;
}
.board--empty {
    position: relative;
    background-color: var(--lightest-blue);
    
    transition: background-color var(--theme-transition);
}
.app[data-is-dark] .board--empty {
    background-color: var(--deep-blue);
}

.board__new {
    position: absolute;
    inset: 0;
    height: fit-content;
    max-width: calc(100% - 40px);
    margin: auto;
    text-align: center;
}
.board__new p {
    margin-bottom: 32px;
    color: var(--gray);
}

.board__header {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - var(--header-width));
    height: var(--header-height);
    padding-inline: 24px 12px;
    border-bottom: 1px solid var(--light-gray);
    background-color: white;

    transition:
        width var(--sidebar-transition),
        background-color var(--theme-transition),
        border-color var(--theme-transition);
}
.app[data-is-dark] .board__header {
    background-color: var(--navy);
    border-color: var(--slate);
}
@media (max-width: 767.98px) {
    .board__header {
        padding-inline: unset;
    }
}

@media (min-width: 768px) {
    .board__title-btn {
        user-select: text;
        cursor: text;
    }
}
@media (max-width: 767.98px) {
    .board__title-btn {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 8px;
        height: var(--header-height);
    }
}

.board__title {
    transition: color var(--theme-transition);
}
.app[data-is-dark] .board__title {
    color: white;
}
@media (max-width: 767.98px) {
    .board__title {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .board__header .chevron-icon {
        display: none;
    }
}
.chevron-icon {
    width: 11px;
    height: 8px;
    color: var(--purple);
}

.new-task-btn {
    margin-left: auto;
    margin-right: 12px;
}
.new-task-btn:before {
    content: '+'
}
@media (max-width: 767.98px) {
    .new-task-btn {
        width: 48px;
        height: 32px;
        font-size: 0;
        text-align: center;
        padding: unset;
        margin-right: 0;
    }
    .new-task-btn:before {
        position: relative;
        top: -3px;
        font-size: 24px;
    }
}

.board__content {
    position: relative;
    height: calc(100% - var(--header-height));
    margin-top: var(--header-height);
    overflow: auto;
    user-select: none;
    background-color: var(--lightest-blue);
    cursor: grab;

    transition: background-color var(--theme-transition);
}
[data-is-dark] .board__content {
    background-color: var(--deep-blue);
}
.board__content[data-dragging] {
    cursor: grabbing;
}

.board__columns {
    position: relative;
    display: flex;
    gap: 24px;
    width: fit-content;
    padding: 0 24px 24px;
}