.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog, .dialog::backdrop {
    animation: fade-in .2s;
}

.dialog__content {
    position: absolute;
    inset: 0;
    max-height: 100%;
    height: fit-content;
    margin-block: auto;
    padding: 32px;
    border-radius: 6px;
    background-color: white;
    box-sizing: border-box;
    overflow: auto;

    animation: scale .2s;
    will-change: scale;
}
.app[data-is-dark] .dialog__content {
    background-color: var(--navy);
}

.dialog__content, .dialog__content form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dialog__content :is(label, h3) {
    color: var(--gray);
}
.app[data-is-dark] .dialog__content :is(label, h3) {
    color: white;
}

.dialog__content form label {
    display: block;
    margin-bottom: 8px;
}

.dialog__content select {
    appearance: none;
    display: block;
    width: 100%;
    margin-top: 8px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid var(--input-border);
    background-position: calc(100% - 16px) center;
    cursor: pointer;

    transition: border-color .2s;
}
.dialog__content select:hover,
.dialog__content select:focus {
    outline: unset;
    border-color: var(--purple);
}
.app[data-is-dark] .dialog__content select {
    background-color: var(--navy);
}

.dialog__select {
    position: relative;
}

.dialog__select .chevron-icon {
    position: absolute;
    right: 16px;
    bottom: 14px;
    width: 11px;
    height: 8px;
    color: var(--purple);
}

.dialog__content option {
    color: var(--gray);
}

.task-dialog__top {
    display: flex;
}

.dialog__content .dropdown {
    position: absolute;
    top: 16px;
    right: 16px;
}

.task-dialog__title {
    margin-right: 48px;
}

.dialog-delete__title {
    color: var(--red);
}

.dialog-delete__menu {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.dialog-delete__menu li {
    flex-grow: 1;
    min-width: 180px;
}
.dialog-delete__menu .btn {
    width: 100%;
    text-align: center;
}

.cross-icon {
    width: 15px;
    height: 15px;
    color: var(--gray);

    transition: color .2s;
}

.dialog__drag {
    display: grid;
    place-items: center;
    margin-right: 8px;
    padding-inline: 16px;
    border: 1px solid var(--input-border);
    border-left: 0;
    border-radius: 0 4px 4px 0;
    cursor: grab;
}

.draggable-icon {
    width: 16px;
    height: 16px;
    color: var(--gray);
}

.dialog__content input[type=text] {
    width: 100%;
    height: 32px;
    padding-inline: 16px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    box-sizing: border-box;
}

.dialog__content textarea {
    width: 100%;
    height: 112px;
    padding: 8px 16px;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

.dialog__content form .btn {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.dialog__item input[type=color] {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    appearance: none;
    background: transparent;
    border: 1px solid var(--input-border);
    border-right: none;
    border-radius: 50% 0 0 50%;
    cursor: pointer;
}

.dialog__item {
    position: relative;
    display: flex;
    margin-bottom: 12px;
}
.dialog__item--single {
    margin-bottom: 0;
}

.dialog__item input[type=text] {
    flex-grow: 1;
    border-radius: 0;
    padding-inline: 8px;
}
.dialog__item--single input[type=text] {
    border-radius: 0 4px 4px 0;
}
.dialog__item--subtask input[type=text] {
    border-radius: 4px 0 0 4px;
    padding-inline: 16px;
}

.dialog__item :where(input[type=text], button) {
    width: unset;
    padding-inline: 8px;
}

.item__remove-btn:hover .cross-icon {
    color: var(--red);
}

input[type=text], textarea {
    background-color: transparent;

    transition: border-color .2s;
}

input[type=text]:focus,
input[type=text]:hover,
textarea:focus,
textarea:hover {
    outline: unset;
    border-color: var(--purple);
}

input[type=text].modified:invalid {
    border-color: red;
}
input[type=text].modified:invalid::placeholder {
    opacity: 0;
}

.invalid-msg {
    position: absolute;
    inset: 0 0 0 auto;
    height: fit-content;
    margin-block: auto;
    color: red;
    pointer-events: none;
    opacity: 0;

    transition: opacity .2s;
}
input[type=text].modified:invalid + .invalid-msg {
    opacity: 1;
}
.dialog__item .invalid-msg {
    right: 100px;
}
.dialog__item--single .invalid-msg {
    right: 10px;
}
.input-group .invalid-msg {
    top: 22px;
    right: 17px;
}

.input-group {
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
}