.task {
    position: relative;
    padding: 23px 16px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px var(--shadow);

    transition: opacity .2s, background-color var(--theme-transition);
}
.app[data-is-dark] .task {
    background-color: var(--navy);
}
.task[data-dragging] {
    outline: 4px solid var(--purple);
    background-color: transparent;
    cursor: grabbing;
    pointer-events: none;
}
.task[data-dragging] :is(.task__title, .task__completed) {
    opacity: 0;
}

.task :is(.task__title, .task__completed) {
    pointer-events: none;
}

.task-item:not(:first-of-type) {
    padding-top: 20px;
}

.task__top-hitbox {
    position: absolute;
    inset: 0 0 50% 0;
}
/* .task[data-dragging] + .task .task__top-hitbox {
    pointer-events: none;
} */

.task__title {
    overflow-wrap: break-word;

    transition: color .2s;
}
.task:hover .task__title {
    color: var(--purple);
}
.app[data-is-dark] .task__title {
    color: white;
}

.task__completed {
    margin-top: 8px;
    color: var(--gray);
}

.task--follow-pointer {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none;
}